<section ng-init='getBelts()'>
  <div ng-if='errors'>
    <ul>
      <li ng-repeat='error in errors'>{{ error }}</li>
    </ul>
  </div>

  <form action="" ng-submit="createNinja(ninja)">
    <label for=""><input type="text" placeholder="Name" ng-model="ninja.name"></label>
    <label for=""><input type="text" placeholder="Height" ng-model="ninja.height"></label>
    <label for="">
      <select ng-options='belt as belt.color for belt in belts' ng-model='ninja.belt'></select>
    </label>
    <label for=""><input type="text" placeholder="Weapon" ng-model="ninja.weapons"></label>
    <button>Create Ninja</button>
  </form>
</section>
